*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

#navbar {
    height: 60px;
    background-color: #0f1111;
}

a {
    margin-right: 200px;
    text-decoration: none;
}

#logo {
    color: #f08802;
    font-size: 25px;
}

button {
    background-color: #f08802;
}

#content {
    height: 606px;
}

.content-box {
    height: 100px;   
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

footer {
    background-color: #0f1111;
    text-align: center;
}